.banner {
  @include banner-background('../images/banner-mobile.png');

  @include mq(sm) {
    @include banner-background('../images/banner-tab.png');
    .container {
      padding: 0 24px;
      @include mq(xl) {
        padding: 0 10px;
      }
    }
  }
  @include mq(md){
    @include banner-background('../images/banner.png');
  }
  @include e(content-wrapper) {
    padding: 174px 0px 74px 0;

    @include mq(lg){
      padding: 207px 0 233px 0;
    }
  }

  @include e(heading) {
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: 500;
    font-size: $head1-font-size;
    line-height: $head1-line-height;
    color: $white;
    max-width: 345px ;

    @include mq(sm) {
      max-width: 648px ;
    }



    @include mq(lg) {
      max-width: 530px ;
    }
  }

  @include e(details) {
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: normal;
    font-size: $default-font-size;
    line-height: $default-line-height;
    color: $white;
    padding: 9px 0 42px 0;
    max-width: 383px ;

    @include mq(sm){
      padding:8px  0 42px 0;
      max-width: 716px ;
    }



    @include mq(lg) {
      max-width: 549px / 1138px * 100%;
    }

  }

  @include e(btn) {
    background: $red;
    width: 179px;
    height: 54px;
    border: 0;
    outline: none;
    color: $white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    margin-left:1px;

    &:hover{
      background: $white;
      color: $black;
    }

  }
}