// ==========================================================================
// Extends
// Placeholders used for the module partials are defined here.
// Example:
// %input {border: 0; border-bottom: 1px solid black;}
// The placeholder defined may be used in "_forms.scss" as:
// input__material--left {@extend %input; float: left;
//   .input__material--right {@extend %input; float: right;}
// }
// ==========================================================================


//this is for the section titles  like products,teams etc
%title {
  font-family: $font-family--primary;
  font-style: normal;
  font-weight: normal;
  font-size: $head2-font-size;
  line-height:$head2-line-height;
  color: $section-title-color;
  text-align: center;
}

// this is for the details text of each sections
%section-details {
  font-family: $font-family--primary;
  font-style: normal;
  font-weight: 300;
  font-size: $default-font-size;
  line-height: $default-line-height;
  text-align: center;
  color: $text-color;


}

%name {
  font-family: $font-family--primary;
  font-style: normal;
  font-weight: 500;
  font-size: $head3-font-size;
  line-height: $head3-line-height;
  text-align: center;
  color: $section-title-color;
}


%single-list-details {
  font-family: $font-family--primary;
  font-style: normal;
  font-weight: 300;
  font-size: $small-font-size;
  line-height: $secondary-line-height;
  text-align: center;
  color:$text-color;
}

