.container {
  max-width: 1158 / 16 * 1em;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  z-index: 9;
  padding: 15px 0 22px 0;

  @include m(scroll) {
    background: $white !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    a {
      color: $black !important;

      &:hover {
        color: $purple;
      }
    }
  }

  @include mq(sm) {
    padding: 21px 0 22px 0;

  }

  @include mq(lg) {
    padding-top: 37px;
    background: transparent;
  }

  @include e(logo) {
    a {
      padding-bottom: 3px;
      font-family: $font-family--primary;
      font-style: normal;
      font-weight: $default-font-weight;
      font-size: $default-font-size;
      line-height: $default-line-height;
      text-align: center;
      color: $white;
      text-transform: capitalize;
    }


    @include mq(sm) {
      padding: 1px 0 0 0;

    }

    @include mq(lg) {
      padding-top: 2px;
    }
  }

  @include e(menu-btn) {
    padding: 3px 0 8px 0;
    width: 22px;
    height: 14px;
    background: url('../images/menu.png') no-repeat;
    border: 0;
    outline: none;
    cursor: pointer;
    vertical-align: middle;

    @include mq(sm) {
      display: none;
    }


  }
  @include e(nav-container) {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    height: auto;
    background: rgba(0, 0, 0, .95);
    transition: all 0.5s ease-in;


    @include m(open) {
      display: block;
    }

    @include mq(sm) {
      display: block;
      position: static;
      width: auto;
      height: auto;
      background: transparent;
      padding-right: 12px;
      transition: none;
    }
  }

}