.nav {

  margin: 30px 50px;

  li {
    display: block;
    padding: 20px 0;
    text-align: center;

    
    a {
      color: $white;
      font-size: $default-font-size;
      display: block;
      cursor: pointer;

      &:hover{
        color:$red;
      }
    }


  }
  @include m(secondary) {
    li {
      display: inline-block;
      margin:0 30px;
    }
  }


  @include mq(sm) {

    display: inline-block;
    margin : 0;

    li {
      float: left;

      a {
        font-size: $xs-font-size;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        display: inline-block;

        img {
          vertical-align: middle;
        }

        &:hover {
          color: $red;
        }
      }
    }

    @include m(main) {
      padding: 27px 0 25px 0;
      @include mq(lg) {
        padding-top: 43px;
      }
      li {
        line-height: $secondary-line-height;
        padding-right: 26px;

        @include mq(lg) {
          padding-right: 30px;
        }

        a i {
          margin: 0 5px;
        }
      }
    }
    @include m(secondary) {
      padding: 21px 0 26px 0;
      @include mq(lg) {
        padding-top: 37px;
      }
      li {
        line-height: $secondary-menu-line-height;

        a {
          font-size: $head3-font-size;
        }

        &:nth-child(2) {
          margin: 0px 24px 0 24px;
        }
      }

    }
  }
}