.product {
  margin-bottom: 100px;
  @include mq(lg) {
    display: flex;
  }

  li {
    margin:0 23px 108px 23px;

    @include mq(lg) {
      margin:0  64px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }

  }

  @include e(feature-title) {
    @extend %name;
    margin: 21px 0 18px 0;


  }

  @include e(feature-details) {
    @extend %single-list-details;
    max-width: 328px;

    @include mq(sm){
      max-width: 328px ;
      margin: 0 auto;
    }


  }

}